.body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
}

.main {
    flex: 1;
    display: flex;
}

.footer {
    text-align: center;
}

.canvas-area {
    flex: 1;
}

.canvas-container {
    background: blueviolet;
    padding: 20px;
}

.canvas {
    display: grid;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    background: aqua;
}

.brushes {
    display: flex;
}
