.body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
}

.main {
    flex: 1;
    display: flex;
}

.footer {
    text-align: center;
}

.canvas-area {
    flex: 1;
}

.canvas-container {
    background: blueviolet;
    text-align: center;
    padding: 20px;
}

.canvas {
    display: grid;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    background: aliceblue;
    cursor: url("../assets/images/paint-brush.cur"), auto;
}

.active {
    cursor: url("../assets/images/eraser.jpg"), auto;
}

.mode {
    height: 150px;
    width: 100px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.mode__img {
    height: 120px;
}

.mode__img__img {
    height: auto;
    max-width: 100%;
}

.palette {
    cursor: pointer;
}

.palette__color-picker {
    text-align: center;
}

.input__color-picker {
    border: none;
    padding: 0;
    height: 50px;
    width: 50px;
}

.palette__sides {
    display: flex;
}

.palette__side {
    height: 50px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.palette__color {
    height: 40px;
    width: 40px;
}

.palette__color__white {
    background: white;
    box-shadow: 0 0 2px 2px gray;
}

.palette__color__black {
    background: black;
    box-shadow: 0 0 2px 2px #b1b1b1;
}

.brushes {
    display: flex;
}

.brush {
    cursor: pointer;
    height: 300px;
}

.brush__img {
    width: auto;
    max-height: 100%;
}
