* {
    box-sizing: border-box;
}

.body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue", sans-serif;
}

.header {
    text-align: center;
}

.title {
    font-weight: 400;
    letter-spacing: 1rem;
    color: #e469ff;
}

.main {
    flex: 1;
    display: flex;
}

.footer {
    margin-top: 20px;
    text-align: center;
    background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
}

.footer-text {
    margin: 10px;
    color: hotpink;
}

.canvas-area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-container {
    background: blueviolet;
    text-align: center;
    height: 600px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.canvas {
    display: grid;
    height: 90%;
    width: 98%;
    background: aliceblue;
}

.clear-canvas {
    margin-top: 10px;
    cursor: pointer;
}

.painting {
    cursor: url("../assets/images/cursors/brush3.cur"), auto;
}

.actions {
    display: flex;
}

.action {
    cursor: pointer;
}

.cleaning {
    cursor: url("../assets/images/cursors/eraser.cur"), auto;
}

.modes, .accessories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modes__hue {
    display: flex;
}

.mode {
    height: 150px;
    width: 100px;
    cursor: pointer;
    display: flex;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    flex-direction: column;
}

.mode__img {
    height: 120px;
    border-bottom: 1px solid black;
}

.mode__img__img {
    max-height: 100%;
    max-width: 100%;
}

.mode-name__name {
    margin: 0;
}

.palette__color-picker {
    text-align: center;
}

.color-picker__description {
    margin: 0;
    font-size: 1.5rem;
}

.input__color-picker {
    border: none;
    padding: 0;
    height: 100px;
    width: 150px;
    cursor: pointer;
}

.brushes {
    display: flex;
}

.brush {
    cursor: pointer;
    height: 300px;
}

.brush__img {
    width: auto;
    max-height: 100%;
}

.action {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.action__img {
    height: auto;
    max-width: 100%;
}
